<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org"
 th:replace="base::layout(~{::div})">
 
 <div>  
<head>


    <meta charset="UTF-8">
  

     <link rel="stylesheet" type="text/css" href="style/style.css">
	
	<!-- Other meta tags and stylesheets -->
	
	
</head>
 
<body>
 
	<header style="border: none; ">
		<div id="header-heading"style="margin-top: 140px; font-family:roboto;">
			<div id="text-btn">
			  <h2><b>Créateur de rapport de travail<br> professionnelle et organisé</h2></b>
			  <a href="register"> <button   id="hero-btn" >Crée Votre Rapport</button></a>
			</div>
			<div id="image-div">
			  <img src="images/aa_auto_x2-removebg-preview.png" alt="Your image">
			</div>
		  </div>

		  <!-- Parallax Scrolling -->
		  <section class="parallax" data-0="background-position:0px 0px;" data-end="background-position:0px -1000px;"></section>

		  <div id="checklist" >
		  <ul >
				<li style="display: inline-block; margin-right: 1px;">Gérez vos rapports avec facilité et efficacité</li>
				<li style="display: inline-block; margin-right: 1px;">Créez des rapports professionnels en toute simplicité</li>
				<li style="display: inline-block; margin-bottom: 15px;">Libérez-vous du stress lié à la gestion de rapports<br> grâce à notre système intuiti</li>
		  </ul>
		</div>
	
	</header>
	
	  
			<div id="header-heading2" style="margin-top: 100px;display: flex;">
				<div id="image-div2" style=" vertical-align: top; margin-right: 20px; border-radius: 10px; overflow: hidden">
				<img id="second" src="images/statt.jpg" alt="Your image" style="width: 700px; height: 400px;">
				</div>
				<div id="text" style="padding-bottom: 1%;font-family:roboto;" >
					<h1 style="color: rgb(155, 30, 30);font-size:30px; font-weight:bold">Visualisez l'historique de vos rapports en un clin d'œil avec notre système de gestion intuitif</h1>
					<h3 style="color:  rgb(107, 104, 104); font-weight: normal; text-align:justify; margin-right: 10%; font-size:18px; font-family:roboto">Ce système de gestion de rapport permet une consolidation efficace<br>
						de toutes les informations importantes en un seul endroit. Vous pourrez facilement visualiser les rapports précédents 
						grâce à notre historique visuel intuitif,ce qui vous permettra d'avoir une vue d'ensemble 
						claire de l'évolution des incidents.</h2>
				</div>
			</div>

			<div id="header-heading2" style="margin-top: 100px;display: flex;font-family:roboto;">
				<div id="text1" style="padding-bottom: 1%;" >
					<h1 style="color: rgb(155, 30, 30); margin-left: 10px;font-weight:bold">Supprimez les tracas de la gestion des rapports
						</h1>
					<h3 style="  font-weight: normal; text-align: justify; color: rgb(107, 104, 104); margin-right: 50px; margin-left: 10px;font-size:18px">Mon système de gestion de rapports est conçu pour supprimer les tracas
						<br> et les défis souvent associés à la gestion des rapports. En consolidant efficacement toutes les informations importantes en un seul endroit, notre système vous permet de visualiser facilement l'historique de vos rapports et de suivre leur évolution au fil du temps. Avec notre interface utilisateur 
						intuitive et conviviale, vous pouvez facilement créer de nouveaux rapports, suivre les incidents en temps réel et générer des rapports détaillés en quelques clics seulement. Que vous soyez un petit groupe de travail ou une grande entreprise,
						notre système est flexible et personnalisable pour répondre à vos besoins spécifiques en matière de gestion de rapports. Simplifiez votre processus de gestion de rapports et libérez du temps pour vous concentrer sur l'essentiel grâce à notre système de gestion de rapports efficace et professionnel..</h3>
				</div>
				<div id="image-div2" style=" vertical-align: top; border-radius: 10px; overflow: hidden">
				<img id="second" src="images/graph rapporrt .jpg" alt="Your image" style="width: 700px; height: 400px;">
				</div>	
			</div>

		<footer style="background-color: rgba(186, 179, 179, 0.634) ;margin-top: 90px;">
				<div >
					<div class="row">
						<div class="col-md-6">
						<ul style="font-family: sans-serif;">
							<h3>Contact</h3>
							<li>123 Main Street</li>
							<li>City, State ZIP</li>
							<li>Phone: 555-555-5555</li>
							<li>Email: info@example.com</li>
						</ul>
						</div>
						
						<div class="col-md-6 text-right">
						<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
						<a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
						<a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
						</div>
					</div>
				<div class="row mt-3">
					<div class="col-md-12">
					<a href="https://www.facebook.com/" style="display: inline-block; margin-right: 20px; width: 60px; height: 20px;margin-left:-2px"><img src="images/fb.png" alt=""></a>
					<a href="https://www.twitter.com/"style="display: inline-block; margin-right: 20px;width: 45px; height: 25px" ><img src="images/tw.png" alt=""></a>
					<a href="https://www.linkedin.com/" style="display: inline-block; margin-right: 70px;width: 35px; height: 20px"><img src="images/ld.png" alt=""></a>
					<img  src="images/LAF.png" alt="" style="width: 300px; height: 80px;">
					</div>
					
				</div>
				</div>
			</footer>
			
			<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
	<script src="https://unpkg.com/scrollreveal@4.1.0/dist/scrollreveal.min.js"></script>
	<script src="home_anim.js"></script>
</body>
	    
</html>
  
	  
	  
	  
	  