<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/home.css">



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/35c8510a19.js" crossorigin="anonymous"></script>
    
    <title>Report Details</title>
    
    <style>
    main.table {
    width: 82vw;
    height: 96vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
     margin-left: 15%; /* Added */
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: grey;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color:  rgb(59, 64, 64);
    cursor: pointer;
    color:white;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
  
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}


.sidebar {
   top:0px; 
    margin-top:15px;
}

#th
{
   background-color:red;
   padding-left: 40%; 
   font-size: 150%; 
   border-bottom: 1px solid #c00;
   color:#fff ;
}

#title {
background-color: rgb(59, 64, 64);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
color: white;
margin-right: 8%;
}
    
    </style>
    
  <header>
  <div class="wrapper">

    
    <div class="sidebar">
        <ul>
         
          <div class="logo" style="width: 18%;">
                 
           
            
            <img src="/images/logo2.png" alt="Logo">
          </div>
            <!-- <li><a href="#"><i class="fas fa-home"></i> Home </a></li> -->
            <li class="empty-list-item"><a href="#"><i class="fas fa-"></i></a></li>
            <li><a href="/user/"><i class="fas fa-plus"></i>Creé Rapport</a></li>
            
            <li><a href="/list"><i class="fas fa-chart-simple" style="padding-top: 19px;"></i>Rapport envoyés</a></li>
            <li class="empty-list-item"><a href="#"><i class="fas fa-"></i></a></li>
            <li><a href="/weeklylist"><i class="fas fa-file" ></i>Rapport Hebdo</a></li>
            <li class="empty-list-item"><a href="#"><i class="fas fa-"></i></a></li>
            <li><a href="/monthlylist"><i class="fas fa-file"></i>Rapport Mensuel</a></li>
            <li class="empty-list-item"><a href="#"><i class="fas fa-"></i></a></li>
            <li ><a href="#"><i class="fas fa-file-alt" ></i>Brouillons</a></li>
            <li class="empty-list-item"><a href="#"><i class="fas fa-"></i></a></li>

            <li class="empty-list-item"><a href="#"><i class="fas fa-"></i></a></li>

            <li ><a href="/logout"><i class="fas fa-sign-out-alt" ></i>Deconnexion</a></li>
           
            <!-- <li><a href="#"><i class="fas fa-right-to-bracket"></i>Login</a></li>
            <li><a href="#"><i class="fas fa-user-plus"></i>Register</a></li> -->
        </ul>
       
    </div>
   
</div>

</header>
</head>
<body>
     <main class="table">
        <section class="table__header">
            <h1 style="padding-left:30%;">VISUALISATION DU RAPPORT</h1>
        </section>
        <section class="table__body">
			
		   <div id="title" class="contrle" style="padding-left: 13px; font-size: 20px; font-family: 'Times New Roman', Times, serif; font-weight: bold; display: flex; align-items: center;">VISUALISATION NORMAL 
     <button type="button" class="toggle-btn"><i class="fas fa-chevron-down"></i></button> </div>
      
      <div class="user-forms" style="margin-top: 15px;"> 
    <table>
    <thead>
        <tr>
            <th id="th" colspan="17">CONTROLE</th>
        </tr>
        <tr>
            <th colspan="2" style="white-space: nowrap;">PLANIFIE</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT ACTIVITES</th>
            <th colspan="2" style="padding-right: 500px;max-width: 500px;">TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">NOMBRE/TOTAL</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 30px;">DATE BUTOIR</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT DELAI</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 200px;max-width: 400px;">OBSERVATIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" th:text="${reportview.controlePlanifie}"></td>
            <td colspan="2" th:text="${reportview.controleStatutActivites}"></td>
            <td colspan="2" th:text="${reportview.controleTaches}"></td>
            <td colspan="2" th:text="${reportview.controleNombreTotal}"></td>
            <td colspan="2" th:text="${reportview.controleStatutTaches}"></td>
            <td colspan="2" th:text="${reportview.controleDateButoir}"></td>
            <td colspan="2" th:text="${reportview.controleStatutDelai}"></td>
            <td colspan="2" th:text="${reportview.controleObservation}"></td>
        </tr>
    </tbody>
</table>

<!-- Maintenance section -->
<table>
    <thead>
        <tr>
            <th id="th" colspan="17">MAINTENANCE</th>
        </tr>
        <tr>
            <th colspan="2" style="white-space: nowrap;">PLANIFIE</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT ACTIVITES</th>
            <th colspan="2" style="padding-right: 500px;max-width: 500px;">TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">NOMBRE/TOTAL</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 30px;">DATE BUTOIR</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT DELAI</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 200px;max-width: 400px;">OBSERVATIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" th:text="${reportview.maintenancePlanifie}"></td>
            <td colspan="2" th:text="${reportview.maintenanceStatutActivites}"></td>
            <td colspan="2" th:text="${reportview.maintenanceTaches}"></td>
            <td colspan="2" th:text="${reportview.maintenanceNombreTotal}"></td>
            <td colspan="2" th:text="${reportview.maintenanceStatutTaches}"></td>
            <td colspan="2" th:text="${reportview.maintenanceDateButoir}"></td>
            <td colspan="2" th:text="${reportview.maintenanceStatutDelai}"></td>
            <td colspan="2" th:text="${reportview.maintenanceObservation}"></td>
        </tr>
    </tbody>
</table>

<!-- Contribution dans les Projets section -->
<table>
    <thead>
        <tr>
            <th id="th" colspan="17" >CONTRIBUTION DANS LES PROJETS</th>
        </tr>
        <tr>
            <th colspan="2" style="white-space: nowrap;">PLANIFIE</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT ACTIVITES</th>
            <th colspan="2" style="padding-right: 500px;max-width: 500px;">TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">NOMBRE/TOTAL</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 30px;">DATE BUTOIR</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT DELAI</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 200px;max-width: 400px;">OBSERVATIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" th:text="${reportview.contributionProjetsPlanifie}"></td>
            <td colspan="2" th:text="${reportview.contributionProjetsStatutActivites}"></td>
            <td colspan="2" th:text="${reportview.contributionProjetsTaches}"></td>
            <td colspan="2" th:text="${reportview.contributionProjetsNombreTotal}"></td>
            <td colspan="2" th:text="${reportview.contributionProjetsStatutTaches}"></td>
            <td colspan="2" th:text="${reportview.contributionProjetsDateButoir}"></td>
            <td colspan="2" th:text="${reportview.contributionProjetsStatutDelai}"></td>
            <td colspan="2" th:text="${reportview.contributionProjetsObservation}"></td>
        </tr>
    </tbody>
</table>

<!-- Support Utilisateurs section -->
<table>
    <thead>
        <tr>
            <th id="th" colspan="17" >SUPPORT UTILISATEURS</th>
        </tr>
        <tr>
            <th colspan="2" style="white-space: nowrap;">PLANIFIE</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT ACTIVITES</th>
            <th colspan="2" style="padding-right: 500px;max-width: 500px;">TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">NOMBRE/TOTAL</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 30px;">DATE BUTOIR</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT DELAI</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 200px;max-width: 400px;">OBSERVATIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" th:text="${reportview.supportUtilisateursPlanifie}"></td>
            <td colspan="2" th:text="${reportview.supportUtilisateursStatutActivites}"></td>
            <td colspan="2" th:text="${reportview.supportUtilisateursTaches}"></td>
            <td colspan="2" th:text="${reportview.supportUtilisateursNombreTotal}"></td>
            <td colspan="2" th:text="${reportview.supportUtilisateursStatutTaches}"></td>
            <td colspan="2" th:text="${reportview.supportUtilisateursDateButoir}"></td>
            <td colspan="2" th:text="${reportview.supportUtilisateursStatutDelai}"></td>
            <td colspan="2" th:text="${reportview.supportUtilisateursObservation}"></td>
        </tr>
    </tbody>
</table>

<!-- Support Partenaires section -->
<table>
    <thead>
        <tr>
            <th id="th" colspan="17">SUPPORT PARTENAIRES</th>
        </tr>
        <tr>
            <th colspan="2" style="white-space: nowrap;">PLANIFIE</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT ACTIVITES</th>
            <th colspan="2" style="padding-right: 500px;max-width: 500px;">TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">NOMBRE/TOTAL</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 30px;">DATE BUTOIR</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT DELAI</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 200px;max-width: 400px;">OBSERVATIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" th:text="${reportview.supportPartenairesPlanifie}"></td>
            <td colspan="2" th:text="${reportview.supportPartenairesStatutActivites}"></td>
            <td colspan="2" th:text="${reportview.supportPartenairesTaches}"></td>
            <td colspan="2" th:text="${reportview.supportPartenairesNombreTotal}"></td>
            <td colspan="2" th:text="${reportview.supportPartenairesStatutTaches}"></td>
            <td colspan="2" th:text="${reportview.supportPartenairesDateButoir}"></td>
            <td colspan="2" th:text="${reportview.supportPartenairesStatutDelai}"></td>
            <td colspan="2" th:text="${reportview.supportPartenairesObservation}"></td>
        </tr>
    </tbody>
</table>
<!-- Reporting section -->
<table>
    <thead>
        <tr>
            <th id="th" colspan="17">REPORTING</th>
        </tr>
        <tr>
            <th colspan="2" style="white-space: nowrap;">PLANIFIE</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT ACTIVITES</th>
            <th colspan="2" style="padding-right: 500px;max-width: 500px;">TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">NOMBRE/TOTAL</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 30px;">DATE BUTOIR</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT DELAI</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 200px;max-width: 400px;">OBSERVATIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" th:text="${reportview.reportingPlanifie}"></td>
            <td colspan="2" th:text="${reportview.reportingStatutActivites}"></td>
            <td colspan="2" th:text="${reportview.reportingTaches}"></td>
            <td colspan="2" th:text="${reportview.reportingNombreTotal}"></td>
            <td colspan="2" th:text="${reportview.reportingStatutTaches}"></td>
            <td colspan="2" th:text="${reportview.reportingDateButoir}"></td>
            <td colspan="2" th:text="${reportview.reportingStatutDelai}"></td>
            <td colspan="2" th:text="${reportview.reportingObservation}"></td>
        </tr>
    </tbody>
</table>

<!-- AUTRES section -->
<table>
    <thead>
        <tr>
            <th id="th"  colspan="17" >AUTRES</th>
        </tr>
        <tr>
            <th colspan="2" style="white-space: nowrap;">PLANIFIE</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT ACTIVITES</th>
            <th colspan="2" style="padding-right: 500px;max-width: 500px;">TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">NOMBRE/TOTAL</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT TACHES</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 30px;">DATE BUTOIR</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 20px;">STATUT DELAI</th>
            <th colspan="2" style="white-space: nowrap;padding-right: 200px;max-width: 400px;">OBSERVATIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" th:text="${reportview.autresPlanifie}"></td>
            <td colspan="2" th:text="${reportview.autresStatutActivites}"></td>
            <td colspan="2" th:text="${reportview.autresTaches}"></td>
            <td colspan="2" th:text="${reportview.autresNombreTotal}"></td>
            <td colspan="2" th:text="${reportview.autresStatutTaches}"></td>
            <td colspan="2" th:text="${reportview.autresDateButoir}"></td>
            <td colspan="2" th:text="${reportview.autresStatutDelai}"></td>
            <td colspan="2" th:text="${reportview.autresObservation}"></td>
        </tr>
    </tbody>
   
</table>
      </div>
      
      <div id="title" class="contrle" style="padding-left: 13px; font-size: 20px; font-family: 'Times New Roman', Times, serif; font-weight: bold; display: flex; align-items: center;">VISUALISATION DOCs
     <button type="button" class="toggle1-btn"><i class="fas fa-chevron-down"></i></button>
</div>

<div class="user-forms1" style="margin-top: 15px;">
    <!-- Display document content -->
   <div id="documents">
    <ul>
        <!-- Iterate over the list of report documents -->
        <li th:each="document : ${reportDocuments}">
            <!-- Display the document based on its file type -->
            <object th:if="${isImage}" th:data="@{/view/{id}(id=${reportview.id})}" th:type="${document.documentType}"
                width="100%" height="600px">
                <img th:src="@{/view/{id}(id=${reportview.id})}" alt="Image" width="100%">
            </object>
            <!-- Display links for different document types -->
            <a th:if="${document.documentType.startsWith('application/pdf')}"
               th:href="@{/view/{id}(id=${reportview.id})}" target="_blank">
                View PDF
            </a>
            <a th:if="${document.documentType.startsWith('application/vnd.openxmlformats-officedocument.wordprocessingml.document') || document.documentType.startsWith('application/msword')}"
               th:href="@{/view/{id}(id=${reportview.id})}" target="_blank">
                View Word Document
            </a>
            <a th:if="${document.documentType.startsWith('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') || document.documentType.startsWith('application/vnd.ms-excel')}"
               th:href="@{/view/{id}(id=${reportview.id})}" target="_blank">
                View Excel Document
            </a>
            <a th:if="${document.documentType.startsWith('text/csv')}"
               th:href="@{/view/{id}(id=${reportview.id})}" target="_blank">
                View CSV Document
            </a>
            <!-- Add more conditions for other document types like .docx, .xlsx, etc. -->
            <!-- You can customize the display based on your requirements -->
        </li>
    </ul>
</div>







     
</div>
    
    <script>
	$(document).ready(function() {
	    // Hide all content panels by default
	    $('.user-forms').hide();

	    // Add click event listener to toggle button
	    $('.toggle-btn').click(function() {
	      // Toggle visibility of content panel
	      $(this).parent().siblings('.user-forms').slideToggle();

	      // Toggle icon
	      $(this).find('i').toggleClass('fa-chevron-down fa-chevron-up');
	    });
	  });
	
	
	$(document).ready(function() {
	    // Hide all content panels by default
	    $('.user-forms1').hide();

	    // Add click event listener to toggle button
	    $('.toggle1-btn').click(function() {
	      // Toggle visibility of content panel
	      $(this).parent().siblings('.user-forms1').slideToggle();

	      // Toggle icon
	      $(this).find('i').toggleClass('fa-chevron-down fa-chevron-up');
	    });
	  });
	</script>

</body>
</html>
